body{
  background-color: #f37121;
}


h1 {
  color:#204051;
}
h2{
color:#204051;

}
h3{
  color:#204051;
}

 hr {

       border-style: none;
       border-top-style: dotted;
       border-color: grey;
       border-width: 5px;
       width: 5%;
 }
